@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/*
https://coolors.co/00a6fb-0582ca-006494-003554-051923
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #003554;
  }
}
